# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# Jupyter Notebook
*.ipynb_checkpoints

# PyCharm / VS Code
.idea/
.vscode/
*.code-workspace

# dotenv
.env
.env.*

# mypy
.mypy_cache/
.dmypy.json
.pyre/

# PyInstaller
*.manifest
*.spec

# System files
.DS_Store
Thumbs.db
*.sh